*{
    box-sizing: border-box;
}
html, body{
    background: #f1f0d8;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    /* -webkit-text-size-adjust: none; */
    width: 100%;
}
input, textarea{
    border: none;
    padding: 5px;
    width: 100%;
    margin: 5px 0px;
    font-size: 1.2rem;
}
.btn{
    padding: 10px;
    border: solid 1px #666;
    margin-bottom: 5px;
    text-align: center;
    font-size: 1.6rem;
    /* background: #ff0000; */
    background: #6c9983;
    color: #fff;
}
.cancel{
    background: #6c7c99;
}
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}
nav{
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    /* box-shadow: 0px 1px 5px 5px rgba(0,0,0,0.8); */
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    /* color: #c4dbf6; */
    /* color: #e7e3d4; */
    background: #8590aa;
    color: #fff;
    z-index: 10000;
}
nav .navBtn{
    padding: 5px 10px;
    
    /* background: #757D75; */
    font-size: 0.6rem;
    text-align: center;
}
nav .fas{
    font-size: 1.6rem;
    
}
nav .smlNum{
    color: #fff;
    vertical-align: top;
    font-size: 0.6rem;
    padding: 2px;
    border-radius: 5px;
    background: #941515;
}
#mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#mainContainer #ads{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: rgb(255, 255, 255); */
}

#logoContainer #theLogo{
    width: 2rem;
    filter: drop-shadow(1px 1px 6px rgba(0,0,0,0.8));
}
.navLogo{
    width: 1rem;
    /* filter: drop-shadow(1px 1px 6px rgba(0,0,0,0.8)); */
}
footer{
    padding: 10px;
    /* box-shadow: 1px 0px 3px 3px rgba(0,0,0,0.8); */
    z-index: 2000;
    margin-top: 10px;
    background: #c4c3af;
    width: 100%;
    
}
#contactIcon{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.footerIcon{
    
    padding: 0px;
}
#compName{
    text-align: center;
    color: #336600;
    font-size: 0.8rem;
    font-weight: 700;
}
#popupCont{
    display: none;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.9);
    z-index: 99999;
    justify-content: center;
}
#popup{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    color: White;
    width: 90%;
}
